@page "/"

<HStack>
    <h1 class="mt-0 mb-0">STRINGSPECTOR</h1>

    <NextInspectionCard OnSubmit="HandleNewInspection"/>
    <Samples OnSubmit="HandleNewInspection"/>

    @if (_inspections.Any())
    {
        <h2 class="mb-0">Inspections</h2>
        var key = _inspections.Count;
        <HStack CssClass="double-gap">
            @foreach (var item in _inspections.AsEnumerable().Reverse())
            {
                var localKey = key--;
                <InspectionCard @key="localKey" Text="@item"/>
            }
        </HStack>
    }
</HStack>

@code {

    List<string> _inspections = new();

    private void HandleNewInspection(string text)
    {
        _inspections.Add(text);
    }

}