<Card>
    <HStack>
        <label for="newInput">
            <div>What do you want to inspect next?</div>
        </label>
        <textarea id="newInput" @bind="_newInput" rows="3" tabindex="1"></textarea>
        <button @onclick="HandleButtonClick" tabindex="2">STRINGSPECT!</button>
    </HStack>
</Card>

@code {

    string _newInput = "";

    [Parameter] public EventCallback<string> OnSubmit { get; set; }

    private void HandleButtonClick()
    {
        if (_newInput.Length > 0)
        {
            OnSubmit.InvokeAsync(_newInput);
            _newInput = "";
        }
    }

}